<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Minha ToDo List</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Minha ToDo List</h1>
    <hr>
  </header>
  <main>
